@media (min-width: 480px) {
    * {
        border: 0;
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style-type: none;
    }

    @font-face {
        font-family: 'urw-form','sans-serif';
        src: url("../fonts/URW.otf");
        font-style: normal;
        font-weight: 100;
    }
    
    body {
        width: 100%;
        height: 100%;
        background: #ead9bc;
    }

    button {
        width: 6vw;
        height: 6vw;
        position: absolute;
        top: 2vw;
        left: 2vw;
        font-size: 4vw;
        color: #ead9bc;
        line-height: 0;
        padding-bottom: 0.2vw;
        border: 0.4vw solid #fff;
        border-radius: 10%;
        background-color: #58302a;
    }

    button:hover {
        color: #58302a;
        background-color: #ead9bc;
    }
    
    .navdrawer {
        width: 25vw;
        height: 32.5vw;
        position: absolute;
        top: 10vw;
        left: -25vw;
        transition: left 0.5s;
        background-color: #58302a;
        padding-top: 3vw;
        padding-left: 0vw;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 2vw;
        font-weight: 500;
        font-family: urw-form, sans-serif;
        text-transform: uppercase;
        text-align: left;
        list-style-type: none;
        display: inline-block;
        line-height: 3.3vw;
        margin-left: -10vw;
    }

    a:hover {
        color: #000;
    }

    .slide-the-drawer {
        left: 0vw;
    }

    ul {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 100;
        font-family: urw-form, sans-serif;
        text-align: left;
        margin-bottom: 0vw;
        width: 25%;
        margin-left: 12vw;
    }
    
    .main_nav {
        background-size: auto;
        width: 100%;
        height: 10vw;
        border-bottom: 0.7vw solid #58302a;
        z-index: 600;
        display: block;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }

    .navlink-2 {
        width: 32%;
        height: 10vw;
        left: 5vw;
        padding-top: 1vw;
    }
    
    .nav-link-2 {
        color: #58302A;
        text-decoration: none;
        font-size: 1.7vw;
        font-weight: 600;
        font-family: urw-form, sans-serif;
        text-transform: uppercase;
        text-align: left;
        float: left;
        margin-left: 4vw;
        margin-top: 4vw;
    }

    .nav-link-2:hover {
        color: white;
    }
    
    .logo1 {
        height: 9.5vw;
        padding-left: 10.5vw;
        text-align: center;
    }

    #logo-1 {
        width: 32vw;
        height: 8vw;
        padding-top: 1vw;
    }

    .fb1 {
        width: 2vw;
        height: 2vw;
        float: right;
        margin-right: 12.4vw;
        margin-top: -5.3vw;
        overflow: visible;
    }

    .fb2 {
        width: 2vw;
        height: 2vw;
        float: right;
        margin-right: 8vw;
        margin-top: -5.3vw;
        overflow: visible;
    }

    .fb3 {
        width: 2vw;
        height: 2vw;
        float: right;
        margin-right: 3.2vw;
        margin-top: -5.25vw;
        overflow: visible;
    }
    
    #facebook {
        width: 60%;
        height: 105%;
    }

    #instagram {
        width: 110%;
        height: 110%;
    }

    #yelp {
        width: 96%;
        height: 100%;
    }

    #parent {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .mainbackground {
        width: 100%;
    }

    .mainbackground-1 {
        width: 100%;
        height: 35vw;
    }

    #image {
        width: 100%;
        height: 100%;
    }

    .blackbox {
        width: 90%;
        height: 30vw;
        position: absolute;
        top: 2.5vw;
        left: 4.75vw;
    }

    #blackbox {
        width: 100%;
        height: 100%;
    }

    figure {
        width: 20vw;
        margin: 0vw 5vw;
        float: left;
        background-size: cover;
        background-position: center;
    }

    #thumbnail-one {
        background-image: url("../images/food-1.png");
        height: 20vw;
    }

    #thumbnail-two {
        background-image: url("../images/food-2.jpg");
        height: 20vw;
    }

    #thumbnail-three {
        background-image: url("../images/food-3.png");
        height: 20vw;
    }

    .food1 {
        width: 20%;
        height: 20vw;
        position: absolute;
        top: -27.5vw;
        left: 10vw;
    }

    #food-1 {
        width: 100%;
        height: 100%;
    }

    .food2 {
        width: 20%;
        height: 20vw;
        position: absolute;
        top: -27.5vw;
        left: 31.5vw;
    }

    #food-2 {
        width: 100%;
        height: 100%;
    }

    .food3 {
        width: 17%;
        height: 20vw;
        position: absolute;
        top: -27.5vw;
        left: 53vw;
    }

    #food-3 {
        width: 100%;
        height: 100%;
    }

    .food4 {
        background: #EAD9BC;
        width: 15%;
        height: 4vw;
        top: 0vw;
        left: 76.25vw;
        padding-top: 1vw;
        position: absolute;
        transition: all .3s linear;
    }

    .food4:hover {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        transform: rotate(90deg);
        left: 76.25vw;
        margin-top: -5.5vw;
        background-color: black;
    }

    #order {
        color: white;
        text-decoration: none;
        font-size: 2vw;
        font-weight: 500;
        font-family: urw-form, sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-left: 76.3vw;
        margin-top: -20vw;
        padding-top: 1.1vw;
        position: relative;
        width: 15vw;
    }
     
    #about {
        margin-top: 22vw;
    }

    h1 {
        color: #614F4E;
        text-decoration: none;
        font-size: 3vw;
        font-weight: 600;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 2vw;
        margin-top: -1vw;
        width: 20%;
        margin-left: 40vw;
    }

    p {
        color: #614F4E;
        text-decoration: none;
        font-size: 2vw;
        font-weight: 300;
        font-family: urw-form, sans-serif;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 5vw;
        text-align: center;
        width: 80%;
        height: 50%;
    }

    #line {
        border-bottom: 0.3vw solid #58302A;
        margin-bottom: 9vw;
    }

    #location {
        margin-top: 7vw;
    }

    h2 {
        color: #614F4E;
        text-decoration: none;
        font-size: 2.3vw;
        font-weight: 400;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 2vw;
        width: 15%;
        margin-left: 17vw;
        margin-top: 8vw;
    }

    h4 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 100;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 0vw;
        width: 20%;
        margin-left: 14.75vw;
    }

    #text-container2 {
        width: 18vw;
        height: 2.3vw;
        display: block;
        float: left;
        margin-left: 15.75vw;
        margin-top: 2vw;
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        background-color: #58302A;
        background-size: contain;
        color: white;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 50;
        font-family: urw-form, sans-serif;
        text-align: center;
    }

    #line2 {
        width: 23vw;
        border-bottom: 0.2vw solid #58302A;
        transform: rotate(90deg);
        margin: 0 auto;
        margin-top: -2vw;
    }

    #bh1 {
        color: #614F4E;
        text-decoration: none;
        font-size: 2.3vw;
        font-weight: 400;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 2vw;
        width: 25%;
        margin-left: 62vw;
        margin-top: -7.8vw;
    }

    #bh2 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 100;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 0.3vw;
        width: 25%;
        margin-left: 62vw;
    }

    #bh3 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 600;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 0.8vw;
        width: 25%;
        margin-left: 62vw;
    }

    #bh4 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 100;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 0vw;
        width: 25%;
        margin-left: 62vw;
    }

    #line3 {
        border-bottom: 0.3vw solid #58302A;
        margin-top: 12vw;
    }

    #cu1 {
        color: #614F4E;
        text-decoration: none;
        font-size: 3vw;
        font-weight: 600;
        font-family: urw-form, sans-serif;
        text-align: center;
        margin-bottom: 3.5vw;
        margin-top: 5vw;
    }

    #cu2 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 600;
        font-family: urw-form, sans-serif;
        text-align: left;
        margin-bottom: 0.5vw;
        width: 25%;
        margin-left: 5vw;
    }

    #cu3 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 300;
        font-family: urw-form, sans-serif;
        text-align: left;
        margin-bottom: 1.5vw;
        width: 25%;
        margin-left: 5vw;
    }

    #cu4 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 600;
        font-family: urw-form, sans-serif;
        text-align: left;
        margin-bottom: 0.5vw;
        width: 25%;
        margin-left: 5vw;
    }

    #cu5 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 300;
        font-family: urw-form, sans-serif;
        text-align: left;
        margin-bottom: 1.5vw;
        width: 25%;
        margin-left: 5vw;
    }

    #cu6 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 600;
        font-family: urw-form, sans-serif;
        text-align: left;
        margin-bottom: 0.5vw;
        width: 25%;
        margin-left: 5vw;
    }

    #cu7 {
        color: #614F4E;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: 300;
        font-family: urw-form, sans-serif;
        text-align: left;
        margin-bottom: 8vw;
        width: 50%;
        margin-left: 5vw;
    }

    @import url('https://fonts.googleapis.com/css?family=Roboto:700');

    body {
    margin: 0px;
    font-family: 'Roboto';
    text-align: center;
    }

    #container {
    color: #999;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: bold;
    padding-top: 200px;  
    position: fixed;
    width: 60%;
    bottom: 3vw;
    margin-left: 61vw;
    height: 8vw;
    display: block;
    }

    #flip {
    height: 50px;
    overflow: hidden;
    }

    #flip > div > div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
    }

    #flip div:first-child {
    animation: show 5s linear infinite;
    }

    #flip div div {
    background: aqua;
    }
    #flip div:first-child div {
    background: magenta;
    }
    #flip div:last-child div {
    background: mediumspringgreen;
    }

    @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
    }
}